body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(211,211,211,1) 100%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
 
.background {
    background-color: transparent; /* transparente para cubrir todo el fondo */
}
 
.container {
    text-align: center;
    background-color: #e51d3e;
    border: 2px solid black;
    padding: 20px;
}
 
.input-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
 
input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
 
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
 
.qr-container {
    position: relative;
    display: inline-block;
}
 
#qrCodeImg {
    max-width: 300px;
    height: auto;
}
 
#picCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 